.deck {
	width:80%;
	margin: 20px auto;
	background:#001380;
	border:solid 10px black;
	padding: 10px;
	border-radius:10px;
	text-align: center;
	color:white;
}
/*
#deck {
	display: flex;
	flex-wrap: wrap;
}
*/

.btn {
	background:white;
	padding: 10px 20px;
	border-radius:30px;
	margin: 10px;
	display: inline-block;
}

.card {
	padding: 10px;
	border: solid 1px #808080;
	background-color: white;
	display: inline-block;
	border-radius: 10px;
	font-size: 14pt;
	text-align: center;
	color:black;
	margin: 3px;
	width: 110px;
	height: 160px;
	font-family: 'Cinzel Decorative', cursive;
}

.card .topRank {
	position: left;
	font-size:25pt;
	width: 50px;
	font-family: 'Cinzel Decorative', cursive;
}

.card .botRank {
	position: right;
	font-size:15pt;
	width: 50px;
	font-family: 'Cinzel Decorative', cursive;	
}

.card .suit {
	font-size:25pt;
	height: 120px;
	width: 120px;

	/*
	height: 100px;
	width: 90px;
	*/
}
