.deck {
	width:80%;
	margin: 20px auto;
	background:#001380;
	border:solid 10px black;
	padding: 10px;
	border-radius:10px;
	text-align: center;
	color:white;
}
/*
#deck {
	display: flex;
	flex-wrap: wrap;
}
*/

.btn {
	background:white;
	padding: 10px 20px;
	border-radius:30px;
	margin: 10px;
	display: inline-block;
}

.card {
	padding: 10px;
	border: solid 1px #808080;
	background-color: white;
	display: inline-block;
	border-radius: 10px;
	font-size: 14pt;
	text-align: center;
	color:black;
	margin: 3px;
	width: 110px;
	height: 160px;
	font-family: 'Cinzel Decorative', cursive;
}

.card .topRank {
	position: left;
	font-size: 25pt;
	width: 50px;
	display: block;
	font-family: 'Cinzel Decorative', cursive;
}

.suit {
	font-size: 50pt;
	display: block;
	transform: scale(4, 4) scaleX(4) scaleY(4);
	background-color: rgb(195, 104, 51);
}

.card .botRank {
	float: right;
	font-size: 25pt;
	width: 50px;
	display: block;
	font-family: 'Cinzel Decorative', cursive;
	transform:rotate(180deg);
}

