.deck {
	width:80%;
	margin: 20px auto;
	background:#001380;
	border:solid 10px black;
	padding: 10px;
	border-radius:10px;
	text-align: center;
	color:white;
}
/*
#deck {
	display: flex;
	flex-wrap: wrap;
}
*/

.card {
	padding: 10px;
	border: solid 1px #808080;
	background-color: white;
	display: inline-block;
	border-radius: 10px;
	font-size: 14pt;
	text-align: center;
	color:black;
	margin: 3px;
	width: 50px;
	height: 100px;
	font-family: 'Cinzel Decorative', cursive;
}

.btn {
	background:white;
	padding: 10px 20px;
	border-radius:30px;
	margin: 10px;
	display: inline-block;
}

.card .TopValue {
	position: left;
	font-size:25pt;
	width: 50px;
	font-family: 'Cinzel Decorative', cursive;
}

.card .botValue {
	position: right;
	font-size:15pt;
	width: 50px;
	font-family: 'Cinzel Decorative', cursive;	
}

.card .suit {
	height: 100px;
	width: 90px;
}
